{% extends "base.html" %}
{% block title %}Pan Tadeusz, czyli ostatni zajazd na Litwie: historia szlachecka z roku 1811 i 1812 we dwunastu księgach wierszem{% endblock %}
{% block content %}
    <div class="col-md-6 mx-auto">
        <img src="https://www.rmfclassic.pl/scratch/classic2013/static-images/3a/b31dc0df2fe2f5e9.jpg" class="img-fluid rounded" alt="Opis zdjęcia">
    </div>
    <p>Jest to poemat epicki Adama Mickiewicza wydany w dwóch tomach w 1834 w Paryżu przez Aleksandra Jełowickiego.</p>
    <p>Ta epopeja narodowa (z elementami gawędy szlacheckiej) powstała w latach 1833–1834 w Paryżu. Składa się z dwunastu ksiąg pisanych wierszem, trzynastozgłoskowym aleksandrynem polskim. Czas akcji: pięć dni z roku 1811 i jeden dzień z roku 1812.</p>
    <p>Rękopis Pana Tadeusza od 1999 znajduje się w zbiorach Zakładu Narodowego im. Ossolińskich. W 2014 został wpisany na Polską Listę Krajową Programu UNESCO Pamięć Świata.</p>
{% endblock %}